
build/*
dist/*
nbproject/private/*

Whisky-ejb/build/*
Whisky-ejb/dist/*
Whisky-ejb/nbproject/private/*

Whisky-web/build/*
Whisky-web/dist/*
Whisky-web/nbproject/private/*

build/
dist/
nbproject/private/

Whisky-ejb/build/
Whisky-ejb/dist/
Whisky-ejb/nbproject/private/

Whisky-web/build/
Whisky-web/dist/
Whisky-web/nbproject/private/

Whisky-ejb/nbproject/private/private.properties

nbproject/private/private.properties

Whisky-web/nbproject/private/private.properties

Whisky-web/build/web/WEB-INF/classes/managedBeans/HomeMB.class

Whisky-web/build/web/home.xhtml

nbproject/private/private.properties

Whisky-web/nbproject/private/private.properties

Whisky-web/build/web/home.xhtml

Whisky-ejb/nbproject/private/private.properties

*.dpf

*.class

Whisky-ejb/setup/glassfish-resources.xml

Whisky-ejb/setup/glassfish-resources.xml
